body{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
 
}

.navbar{
    
    width: 100%;
    height: 70px;
    background-color:#000000c3;
    justify-content: space-around;
    position: fixed;
    top: 0;
    z-index: 1000;
    
}

.logo{
    width: 17%;
    height: 100%;
    /* background-color: aqua; */
    
}

.logo a{
    text-decoration: none;
    display: flex;
    justify-content: space-around;
}
.logo a img{
    width: 50px;
    height: 50px;
}
.logo a h1{
    color:white;
    font-family: 'Dancing Script', cursive;
    font-size: 35px;
    margin-top: 3px;
}

.menu{
    width: 52%;
    height: 70px;
    /* background-color:aquamarine; */
    margin-top: -8px;
}
.menu ul{
    height: 100%;
}
.menu ul li {
    list-style: none;
    font-size: 20px;
   
}
.menu ul li a{
    height: 70px;
    text-align: center;
   color: #fcfcfc;
    padding: 20px 30px;
    font-weight: 500;
   
}

.nav .nav-link.active,
.nav .nav-link:hover {
    background-color: #91918f; /* Light cream color */
    color: #ffffff; /* Text color for active and hover */
    
    /* padding: 20px; */
}
.menu ul li a:visited {
    color: rgb(249, 249, 249);
  }
/* 
.slider{

    width: 100%;
    height: 700px;
} */

.main-block{
    width: 100%;
    height: 630px;
    margin-top: 70px;
    background-image: url(Images/bg-2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}





.main-block .landing-1{
    width: 28%;
    height: 650px;
    position: absolute;
    top: 5%;
    left: 0%;
}

.main-block .landing-2{
    width: 50%;
    height: 500px;
    position: absolute;
    top: 0%;
    right:0%
}
.main-block h1{
    position: absolute;
    /* top: 45%; */
    top:30%;
    left: 23%;
    /* left: 35%; */
    /* color: #8a482e; */
    color: #543028;
    font-size: 90px;
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    text-shadow: -10px 10px 15px rgb(122, 120, 120);
}
.main-block p{
    width: 280px;
    position: absolute;
    /* top: 32%; */
    left: 45%;
    top: 60%;
    /* color: #8a482e; */
    color: #c19d56;
    font-size: 38px;
    font-family: "Cormorant", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: italic;
    /* text-shadow: -10px 10px 15px rgb(122, 120, 120); */
}
.main-block p i{
    color: #c19d56;
    font-size: 30px;
    
}
.cake{
    width: 100%;
    height: 380px;
    background-color: #2dbba4;
    overflow: hidden;
}

.offer-img{ 
    width: 500px;
    height: 400px;
    float: right;
    margin-right: 20%;
    /* margin-top: 4%; */
    background-image: url(Images/bake_pattern.png);
    background-position: center;
    background-size: cover;
}
.offer-img img{
    margin-left: 25%;
    margin-top: 25%;
    width: 300px;
    height: 300px;
}

.service-block
{
    width: 100%;
    height: 780px;
    margin: auto;
   /* background-color: #48753e; */
   background-image: url(Images/bg-2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.heading-service{
    margin-bottom: 7%;
}
.cards{
    width: 30%;
    height: 450px;
    background-color: #d2d2d3;
    border-radius: 20px;
    border: 5px solid rgb(148, 148, 148);
}

.service-img
{
    width: 55%;
    height: 40%;
    margin: auto;
    margin-top: -70px;
    
}

.service-img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 10px solid white;
}

.service-cards{
    width: 85%;
    height: 400px;
    margin:  auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #2dbba4; */
    
}

.cards h2{
    margin: auto;
    margin-top: 8%;
    color: #543028;
    /* width: 40%; */
    font-size: 40px;
    text-align: center;

}

.cards p{
    text-align: center;
    font-size: 20px;
    /* margin: auto; */
    margin-top: 10%;
    margin-bottom: 10%;
}

.cards button{
    /* background-color: #c93a39; */
    background: none;
    border: 3px solid #543028;
    border-radius: 10px;
    width: 90px;
    margin-left: 35%;
    font-size: 25px;
    color: #543028;
    padding: 10px;
}
.cards:hover
{
    border: 5px solid rgb(82, 82, 82);
}
.cards button:hover
{
    border: 1px solid #000000;
    background-color: #543028;
    color: #f8f1e4;
}
.transition-2{

    width: 100%;
    height: 380px;
    background-image: url(Images/bgpromo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    background-attachment: fixed;

    position: relative;

}



.menu-block{
    width: 100%;
    margin: auto;
    margin-bottom: 40px;
    /* background-color: #2dbba4; */
    height: 880px;
    background-image: url(Images/bg-2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    position: relative;
    
}
.block-images{
    width: 250px;
    height: 250px;
    /* background-color: #2dbba4; */
    position: absolute;
    top: -15%;
    left: 10px;
}

.cup-cake{
    margin-left: 22px;
}

.menu-cards-1{
    width: 85%;
    margin: auto;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;

}

.menu-1{
    width: 30%;
    height: 280px;
    /* background-color: #49b57a; */
    position: relative;
    font-family: Cormorant;
    font-style: italic;
}

.menu-1 a{
    color: black ;
}

.menu-img{
    width: 100%;
    height: 200px;
    /* background-color: #543028; */
}
.menu-img img{
    width: 100%;
    height: 200px;
    border-radius: 20px;
    /* border: 2px solid #543028; */
}

.menu-img  :hover{
  
    border: 3px solid #543028;
}


.menu-title{
    font-family: "Cormorant", serif;
    /* font-optical-sizing: auto; */
    font-weight: 400;
    font-style: italic;
}
.menu-title:hover{
    color: #cd9122;
}
.menu-title-1 {
    position: absolute;
    top: 78%;
    left: 38%;
}

.menu-title-2{
    position: absolute;
    top: 78%;
    left: 35%;
}

.menu-title-3 {
    position: absolute;
    top: 78%;
    left: 30%;
}

.menu-title-4{
    position: absolute;
    top: 78%;
    left: 30%;
}

.menu-title-5 {
    position: absolute;
    top: 78%;
    left: 35%;
}

.menu-title-6 {
    position: absolute;
    top: 78%;
    left: 20%;
}


.menu-cards-2{
    width: 85%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}


.transition-3{

    width: 100%;
    height: 380px;
    background-image: url(Images/bgpromo1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    background-attachment: fixed;
}

.gallery-block{
    width: 100%;
    height: 1700px;
    /* background-color: chartreuse; */
    background-image: url(Images/bg-2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.container{
    margin: auto;
    width: 1330px;
    display: grid;
    min-height: 1050px;
    /* border: 5px solid black; */
    margin-top: 30px;
    gap: 20px;
    grid-template-columns: repeat(3, 430px);
    grid-template-rows: 400px 200px 200px 300px ;
     
}


.box img{
    width: 100%;
    height: 100%;
    border: 3px solid #543028;
    border-radius: 20px;

}

/* .box img:hover{
    border: 5px solid #fe0505;
    
} */

.box1 {
    
    grid-column: 1/ 2 ;
    grid-row: 1/ 2;
}

.box2{
    grid-column: 2/ 3 ;
    grid-row: 1/  3;
}

.box3{
    grid-column: 3/ 4 ;
    grid-row: 1/ 2;
}

.box4{
    grid-column: 1/ 2 ;
    grid-row: 2/ span 2;
}

.box6{
    grid-column: 2/ 3 ;
    grid-row: 3/ span 4;
}

.box5{
    grid-column: 3/ 4 ;
    grid-row: 2/ 4;
}
.box7{
    grid-column: 1/ 2 ;
    grid-row: 4/ span 5;

}

.box8{
    grid-column: 3/ 4 ;
    grid-row: 4/span 5;

}




.heading{
    text-align: center;
    /* margin-top: 30px; */
    padding-top: 60px;  
}
.heading h2{
    font-size: 50px;
    color:#543028;
    font-size: 70px;
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: -10px 10px 15px rgb(122, 120, 120);
}
.heading img{
    width: 50px;
    height: 50px;
    margin-top: 10px;
}

.transition-4{

    width: 100%;
    height: 380px;
    background-image: url(Images/bgpromo1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    background-attachment: fixed;
}

.price-block{
    width: 100%;
    height:650px;
    background-image: url(Images/bg-2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.about-us
{
    width: 100%;
    height:650px;
    background-image: url(Images/bg-2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}



.feature-card
{
    
    width: 85%;
    height: 400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
}
.features
{
    width: 30%;
    height: 300px;
    background-color: #e6e6e6;
    border-radius: 15px;
    border: 5px solid rgb(0, 0, 0);
}
.features img{
    width: 40%;
    height: 120px;
    margin-left: 30%; 
    margin-top: 15px;
}

.features h3{
    text-align: center;
    color: #543028;
    margin-top: 20px;
    font-size: 30px;
}

.features p{
    text-align: center;
    color: rgb(0, 0, 0);
    margin-top: 20px;
    font-size: 20px;
}

.contact-us-block{
    width: 100%;
   min-height:750px;
    background-image: url(Images/bg-2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    position: relative;

}

.block-images2{
    width: 250px;
    height: 250px;
    /* background-color: #2dbba4; */
    position: absolute;
    top: -11%;
    right: 25px;
}

.img-1{
    margin-left: 22px;
}
.img-1 img{
    width: 200px;
}
.contact-us{

    width: 80%;
    height: 100%;
    /* background-color: #753737; */
    margin: auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.contact-form{
    width: 50%;
    height: 400px;
    /* background-color: #56c17d; */
}
.contact-form form {

    margin-left: 80px;
}

.contact-form form p{

    color: #543028;
    font-size: 25px;
    margin-left: 15px;
    font-weight: 600;
}
.contact-form form input{

    border: 2px solid black;
    border-radius: 14px;
    width: 400px;
    height: 50px;
    margin-bottom: 15px;
}

.contact-form form textarea{
    border: 2px solid black;
    border-radius: 14px;
    width: 400px;
    min-height: 150px; 
}

.contact-form form button{

    width: 100px;
    height: 50px;
    margin-top: 20px;
    margin-left: 15px;
    border: 3px solid #543028;
    border-radius: 20px;
    background: transparent;
    font-size: 20px;
    
}

.contact-form form button:hover{
    background-color: #543028;
    color: #ffffff;
}
.map-address{

    width: 40%;
    height: 400px;
    /* background-color: #2dbba4; */
    border: 5px solid #543028;
    border-radius: 25px;
   
}
.map-address iframe{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

footer{
    background-color: #cd9122;
    width: 100%;
    height: 200px;
    margin-top: 20px;
}
